__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
env.bak/
.venv/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.mo
*.pyc
*.pyo
/staticfiles/
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover
.testrepository/
.tox/
nosetests.xml
pytest_cache/
build/
dist/
*.egg-info/
.eggs/
*.env
.env.*
docker-compose.override.yml
populate_db.py
**/db.sqlite3