altgraph==0.17.5
appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.9.1
certifi==2026.1.4
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
Faker==37.4.2
idna==3.11
importlib_resources==6.5.2
openpyxl==3.1.5
packaging==26.0
pefile==2024.8.26
pillow==11.3.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyJWT==2.10.1
python-barcode==0.16.1
python-escpos==3.1
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qrcode==8.2
reportlab==4.4.2
requests==2.32.5
setuptools==80.10.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.6.3
waitress==3.0.2
