body {
    background-color: #121C2B;
    color: #E1ECF7;
    font-family: 'Segoe UI', sans-serif;
}

.auth-wrapper {
    position: relative;
    width: 350px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.auth-card {
    background-color: #1E3A5F;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform 0.5s ease;
}

.card-title-text{
    font-size: 20px;
    margin-bottom: 30px;
}

.form-input{
    font-size: 15px;
}

