body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    color: #000;
}

.header {
    background-color: #d4d4d4;
    color: #bbd5ed;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: #494949;
}

.user-role {
    font-style: italic;
    color: #6a8d73;
    font-size: 0.9rem;
}

.btn-sales {
    display: none;
    background-color: transparent;
    color: #494949;
    border: 2px solid #f0a868;
    transition: ease opacity 0.3s;
    font-weight: 500;
}

.btn-sales:hover {
    opacity: 0.75;
    border-color: #d88e4d;
    color: #d88e4d;
}

.table-container {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

th {
    background-color: #6a8d73;
    color: #171a21;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
    color: #bbd5ed;
    background-color: #6a8d73;
}

.table-bordered > :not(caption) > * > * {
    border-color: #d4d4d4;
}

.pagination {
    justify-content: center;
}

.page-item .page-link {
    background-color: #f9f9f9;
    color: #494949;
    border: 1px solid #6a8d73;
}

.page-item.active .page-link {
    background-color: #f5c193;
    border-color: #f0a868;
    color: #171a21;
}

.page-link:hover {
    background-color: #d88e4d;
    color: #171a21;
}

#table-body tr {
    user-select: none;
    transition: background-color 0.3s ease;
}

#table-body tr:hover {
    background-color: #2b323d;
}

#table-body td {
    background-color: #f9f9f9;
}


.table-container table th,
.table-container table td {
    font-size: 1rem;
}

input[type="text"] {
    max-width: 200px;
    border: 1px solid #6a8d73;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9rem;
}

.input-group .form-control,
.input-group .btn {
    height: 38px;
}

.container-modified{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.search-wrapper {
    max-width: 300px;
    margin-left: auto;
}

.search-elements {
    width: 100%;
    max-width: 280px;
}

@media (max-width: 620px) {

    .col-code,
    .col-buy-price,
    .col-last-modification {
        display: none;
    }

    .table-container table th,
    .table-container table td {
        font-size: 0.75rem;
    }

    .page-link {
        font-size: 0.75rem;
        padding: 0.10rem 0.2rem;
        min-width: 20px;
        height: 20px;
        line-height: 1.2;
        border-radius: 4px;
    }
}

@media (max-width: 800px) {
    .search-wrapper {
        width: 100%;
        padding: 0 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .input-group.w-100 {
        display: flex;
        width: 100%;
    }
    
    .input-group.w-100 .form-control.search-input {
        flex: 7;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .input-group.w-100 .btn {
        flex: 3;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        white-space: nowrap;
    }

}