body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    color: #000;
}

.header {
    background-color: #d4d4d4;
    color: #bbd5ed;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: #494949;
}

.user-role {
    font-style: italic;
    color: #6a8d73;
    font-size: 0.9rem;
}

.btn-sales {
    background-color: transparent;
    color: #494949;
    border: 2px solid #f0a868;
    transition: ease opacity 0.3s;
    font-weight: 500;
}

.btn-sales:hover {
    opacity: 0.75;
    border-color: #d88e4d;
    color: #d88e4d;
}

.table-container {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

th {
    background-color: #6a8d73;
    color: #171a21;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
    color: #bbd5ed;
    background-color: #6a8d73;
}

.table-bordered > :not(caption) > * > * {
    border-color: #d4d4d4;
}

.pagination {
    justify-content: center;
}

.page-item .page-link {
    background-color: #f9f9f9;
    color: #494949;
    border: 1px solid #6a8d73;
}

.page-item.active .page-link {
    background-color: #f5c193;
    border-color: #f0a868;
    color: #171a21;
}

.page-link:hover {
    background-color: #d88e4d;
    color: #171a21;
}

#table-body tr {
    user-select: none;
    transition: background-color 0.3s ease;
}

#table-body tr:hover {
    background-color: #2b323d;
}

#table-body td {
    background-color: #f9f9f9;
}
