body {
    background-color: #121C2B;
    color: #E1ECF7;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;          
    margin: 0;
}

.auth-wrapper {
    position: relative;
    width: 350px;
    overflow: hidden;
    transition: all 0.5s ease;
    margin: 0 auto;
}

.auth-card {
    background-color: #1E3A5F;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform 0.5s ease;
}

.card-title-text{
    font-size: 20px;
    margin-bottom: 30px;
}

.form-input{
    font-size: 15px;
}

.roles {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.role {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #3A5A78;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.9;
    user-select: none;
}

.role:hover {
    opacity: 1;
    transform: scale(1.03);
}

.role.selected {
    background-color: #4AA6FF;
    color: #000;
    opacity: 1;
}

.icon-role {
    position: absolute;
    left: 20px;
    font-size: 1.5rem;
}

.role-text {
    width: 100%;
    text-align: center;
}

.btn-back {
    background-color: transparent;
    border: none;
    color: #4AA6FF;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.btn-back:hover {
    color: #1a73e8;
    text-decoration: underline;
}

.icon-back {
    font-size: 1.2rem;
}

.modal-content {
    background-color: #121c2b;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    color: #e1ecf7;
    text-align: center;
}

.modal-header {
    border-bottom: none;
    justify-content: center;
}

.modal-header .bi {
    font-size: 3rem;
    color: #4aa6ff;
    margin-bottom: 0.5rem;
}

.modal-title {
    font-weight: 600;
    font-size: 1.3rem;
}

.pin-inputs {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pin-inputs input {
    width: 45px;
    height: 55px;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    background-color: #1e3a5f;
    color: #e1ecf7;
    border: none;
    outline: none;
    caret-color: transparent;
    transition: background-color 0.3s;
}

.pin-inputs input:focus {
    background-color: #4aa6ff;
    color: #121c2b;
}

.pin-inputs input::placeholder {
    color: #4aa6ff;
    opacity: 0.6;
}

.modal-footer {
    border-top: none;
}

.error-msg {
    color: #ff6b6b;
    font-weight: 600;
    margin-top: 1rem;
    display: none;
}

.btnCancelPin{
    color: #fff;
    outline: none;
}