{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Seleccion de rol</title>
    <link rel="stylesheet" href="{% static 'Auth/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'Auth/css/role_selector.css' %}" />
    <link rel="stylesheet" href="{% static 'Auth/css/bootstrap-icons.css' %}" />
</head>

<body>

  <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div id="liveToast" class="toast text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Operación realizada con éxito.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Cerrar"></button>
      </div>
    </div>
  </div>

    <div class="auth-wrapper">
        <div class="auth-card" id="role-card">
            <button id="btn-back" type="button" class="btn-back mb-3">
                <i class="bi bi-arrow-left icon-back"></i> Volver
            </button>
            <h2 class="card-title-text">Seleccionar Rol</h2>
            <div class="roles">
                <div class="role" data-value="salesperson">
                    <i class="bi bi-person-badge-fill icon-role"></i>
                    <span class="role-text">Vendedor</span>
                </div>
                <div class="role" data-value="stocker">
                    <i class="bi bi-person-gear icon-role"></i>
                    <span class="role-text">Repositor</span>
                </div>
                <div class="role" data-value="administrator">
                    <i class="bi bi-person-lock icon-role"></i>
                    <span class="role-text">Administrador</span>
                </div>
            </div>
        </div>
    </div>

    <div
      class="modal fade"
      id="pinModal"
      tabindex="-1"
      aria-labelledby="pinModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header flex-column position-relative">
          <button id="btnCancelPin" type="button" class="btn position-absolute top-0 end-0 m-2 btnCancelPin" data-bs-dismiss="modal" aria-label="Cerrar">X</button>
          <i id="modalIcon" class="bi bi-person-badge-fill"></i>
          <h5 class="modal-title" id="pinModalLabel">Escribir PIN del rol</h5>
        </div>

        <div class="modal-body">
          <form autocomplete="off">
            <input type="text" name="fakeuser" style="display:none" autocomplete="off" />
            <div class="pin-inputs">

            <input type="password" maxlength="1" inputmode="numeric" pattern="[0-9]*" autocomplete="off" data-1p-ignore data-lpignore="true" data-protonpass-ignore="true" class="pin-digit" />
            <input type="password" maxlength="1" inputmode="numeric" pattern="[0-9]*" autocomplete="off" data-1p-ignore data-lpignore="true" data-protonpass-ignore="true" class="pin-digit" />
            <input type="password" maxlength="1" inputmode="numeric" pattern="[0-9]*" autocomplete="off" data-1p-ignore data-lpignore="true" data-protonpass-ignore="true" class="pin-digit" />
            <input type="password" maxlength="1" inputmode="numeric" pattern="[0-9]*" autocomplete="off" data-1p-ignore data-lpignore="true" data-protonpass-ignore="true" class="pin-digit" />

            </div>
          </form>
          <div class="error-msg" id="errorMsg">PIN incorrecto. Intenta de nuevo.</div>
        </div>
      </div>
    </div>

    <script src="{% static 'Auth/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Auth/js/role_selector.js' %}"></script>
</body>

</html>
