.auth-page {
    background-color: #f0f0f0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-card {
    width: 100%;
    max-width: 400px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth-card-header {
    background-color: rgb(245, 193, 147);
}

.auth-title {
    margin: 0;
    text-align: center;
}

.auth-card-body {
    background-color: #ffffff;
}

.auth-submit-btn {
    background-color: rgb(245, 193, 147);
    border: none;
}

.auth-submit-btn:disabled {
    opacity: 0.6;
}


.no-sidebar {
    display: block !important;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header-container {
    width: 100%;
    background: transparent;
}

.app-content {
    min-height: calc(100vh - 80px);
    padding-top: 40px;
    padding-bottom: 20px;
  }