@media (max-width: 1000px){
    .col-object_code,
    .col-changed_at{
        display: none;
    }
}

@media (max-width: 550px){
    .col-changed_by{
        display: none;
    }
}

@media (max-width: 450px){
    .col-old_value{
        display: none;
    }
}

@media (max-width: 350px){
    .col-new_value{
        display: none;
    }
}