@import "./bootstrap-icons.css";

main {
    height: 100%;
    margin: 0;
}

.stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.stock-header h5 {
    margin: 0;
    display: flex;
    align-items: center;
}

.stock-input {
    width: 20px;
    padding: 4px 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
    display: inline-block;
    align-items: center;
}

.stock-input:focus {
    border-color: #007bff;
}

.scrollable-card-body {
    max-height: 300px;
    overflow-y: auto;
}

.card-stock {
    max-width: 500px;
}

.small-box {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
