@import "./bootstrap-icons.css";

main {
    height: 100%;
    margin: 0;
}

.stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.stock-header h5 {
    margin: 0;
    display: flex;
    align-items: center;
}

.stock-input {
    width: 20px;
    padding: 4px 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
    display: inline-block;
    align-items: center;
}

.stock-input:focus {
    border-color: #007bff;
}

.scrollable-card-body {
    max-height: 300px;
    overflow-y: auto;
}

.card-stock {
    max-width: 500px;
}

.small-box {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-action-box {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: stretch !important;
    user-select: none !important;
}

.col-lg-3,
.col-md-6 {
    display: flex !important;
}

.small-box {
    flex: 1 !important;
}

.eye-button {
    box-shadow: none !important;
}

.notification-card {
    background-color: #f0efeb;
    border-radius: 14px;
    padding: 12px 14px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    cursor: default;
}

.notification-card:hover {
    background-color: #e2e2e2;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.icon-box {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollable-card-body {
    padding: 12px;
}


.icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

pulse-strong {
    animation: pulse-strong 1.2s infinite;
}

@keyframes pulse-strong {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


.notifications-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;
}

/* Tabs */
.tab-btn {
    border: 1px solid #d1d5db;
    background: #f9fafb;
    color: #374151;
}

.tab-btn:hover {
    background: #f3f4f6;
}

.tab-active {
    background: #e5e7eb;
    border-color: #9ca3af;
    font-weight: 600;
}

.notifications-container {
  display: block;
padding: 10px;
}
