@import "./bootstrap-icons.css";

/*remove little arrows when input type is number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    color: #000;
}

.header {
    background-color: #d4d4d4;
    color: #bbd5ed;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: #494949;
}

.user-role {
    color: #8e8e8e;
    font-size: 0.85rem;
    margin-left: 20px;
}

.btn-sales {
    display: none;
    background-color: transparent;
    color: #494949;
    border: 2px solid #f0a868;
    transition: ease opacity 0.3s;
    font-weight: 500;
}

.btn-sales:hover {
    opacity: 0.75;
    border-color: #d88e4d;
    color: #d88e4d;
}

.table-container {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

th {
    background-color: #6a8d73;
    color: #171a21;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
    color: #bbd5ed;
    background-color: #6a8d73;
}



.table-bordered> :not(caption)>*>* {
    border-color: #d4d4d4;
}

.pagination {
    justify-content: center;
}

.page-item .page-link {
    background-color: #f9f9f9;
    color: #494949;
    border: 1px solid #aeaeae;
}



.page-link {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    min-width: 30px;
    height: 30px;
    line-height: 1.2;
    border-radius: 4px;
}

.page-item {
    margin: 0 2px;
}



.page-item.active .page-link {
    background-color: #f5c193;
    border-color: #f0a868;
    color: #171a21;
}

.page-link:hover {
    background-color: #d88e4d;
    color: #171a21;
}

#table-body tr {
    user-select: none;
    transition: background-color 0.3s ease;
}

#table-body tr:hover {
    background-color: #2b323d;
}

#table-body td {
    background-color: #f9f9f9;
}


.table-container table th,
.table-container table td {
    font-size: 1rem;
}

.search-input {
    max-width: 200px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9rem;
}

.input-group .form-control,
.input-group .btn {
    height: 38px;
}

.container-modified {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.search-wrapper {
    max-width: 300px;
    margin-left: auto;
}

.search-elements {
    width: 100%;
    max-width: 280px;
}


tr.selected-product td {
    background-color: #d8d8d8 !important;
}

.btn-group .btn {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px !important;
    color: #555;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 8px !important;
}

.btn-group .btn:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
    color: #000;
}

.btn-group .btn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-group .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.btn-group .btn:hover {
    opacity: 0.7;
}

.btn-group .btn i {
    transition: transform 0.2s ease;
}

.btn-group .btn:hover i {
    transform: scale(1.15);
}


.thead-products {
    user-select: none;
}

.add-product-button {
    color: #28a792 !important;
}

.remove-products-button {
    color: #dc3545 !important;
}

.modal-backdrop.show {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
}

.send-form-button {
    background-color: #6a8d73;
    border: 1px solid #6a8d73;
}

.event-handler-success {
    background-color: #28a792 !important;
    color: white;
}

.event-handler-error {
    background-color: #dc3545 !important;
    color: white;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    background-color: red;
    color: white;
    font-size: 0.65rem;
    padding: 2px 5px;
    border-radius: 999px;
    min-width: 18px;
    text-align: center;
}

.btn-remove {
    background-color: #dc3545;
    color: white;
    border: none;
    transition: opacity 0.3s ease;
}

.btn-remove:hover {
    opacity: 0.7;
}

.dropdown-more-options {
    margin-top: 0;
}

.btn-remove {
    background-color: transparent;
    border: none;
    color: red;
}

.date-picker {
    margin-left: 20px !important;
}

@media (max-width: 780px) {

    .col-code,
    .col-buy-price,
    .col-last-modification {
        display: none;
    }

    .table-container table th,
    .table-container table td {
        font-size: 0.75rem;
    }

    .page-link {
        font-size: 0.75rem;
        padding: 0.10rem 0.2rem;
        min-width: 20px;
        height: 20px;
        line-height: 1.2;
        border-radius: 4px;
    }

    .offer-table {
        font-size: 10px;
    }

    .offer-table-tbody-tr td {
        padding: 1px !important;
    }

    .footer-inventory {
        flex-direction: column;
        gap: 10px;
    }

}

@media (max-width: 410px) {
    .dropdown-more-options {
        margin-top: 10px !important;
        width: 100%;
    }

    .dropdown-title {
        font-size: 0.60rem !important;
    }
}

@media (max-width: 300px) {
    .more-info {
        margin-top: 10px !important;
        width: 100%;
    }

}

@media (max-width: 250px) {
    .view-selected-products {
        margin-top: 10px !important;
        width: 100%;
    }
}

@media (max-width: 800px) {

    .btn-group button {
        margin-top: 10px;
    }

    .user-role {
        margin-left: 0;
        margin-top: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header>div:first-child {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn-group {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-wrapper {
        width: 100%;
        padding: 0 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .input-group.w-100 {
        display: flex;
        width: 100%;
    }

    .input-group.w-100 .form-control.search-input {
        flex: 7;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group.w-100 .btn {
        flex: 3;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        white-space: nowrap;
    }
}

.footer-inventory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.stock-decrease-backdrop {
    z-index: 1999 !important;
    background-color: rgba(0, 0, 0, 0.65) !important;
  }

