.providers-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.providers-header {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.table-container-providers {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 780px) {

    .col-address {
        display: none;
    }

    .table-container-providers table th,
    .table-container-providers table td {
        font-size: 0.6rem;
    }

    .page-link {
        font-size: 0.75rem;
        padding: 0.10rem 0.2rem;
        min-width: 20px;
        height: 20px;
        line-height: 1.2;
        border-radius: 4px;
    }
}

@media (max-width: 450px){
    .col-email{
        display: none;
    }
    .responsive-hide {
        display: none !important;
    }
}